.container {
  display: flex;
}

.menu {
  flex: 1;
  padding: 20px;
  max-width: 20%;
  min-height: 100vh;
  background-color: var(--bgSoft);
}

.content {
  flex: 4;
  padding: 20px;
}

.wrapper {
  gap: 20px;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.main {
  flex: 3;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.cards {
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.side {
  flex: 1;
}
